{% extends 'partials/base.html.twig' %}

{% block content %}
    {# <h1>{{ page.title }}</h1> #}
    {{ page.content }}
        <div class="filter_container">
          <button class="btn active" onclick="filterSelection('all')">all</button>
          {% for key, rel in page.header.filter %}
            <button class="btn" onclick="filterSelection('{{ rel }}')">{{ rel }}</button>
          {% endfor %}
        </div>

        <div class="documents clearfix">
          {% set documents = page.collection() %}
          {% for document in documents %}
              <div class="{% for key, rel in document.header.filter %}{{ rel }} {% endfor %}document block filter">
                <div class="document__inner-wrapper">
                  <div class="document__type">
                    {% for key, rel in document.header.filter %}
                      <span class="document__filter">{{ rel }}</span>
                    {% endfor %}
                  </div>
                  <h1 class="document__title">{{ document.title }}</h1>
                  {# <p class="document_content">{{ document.page.content }}</p> #}
                  <div class="document__content">{{ document.content }}</div>
                </div>
            </div>
          {% endfor %}
        </div>
{% endblock %}