/*about*/

.about h2:first-of-type {
  margin-top: 0;
}

.about h2 {
	margin: 24px 0 -4px 0;
}

.about .wrapper {
  padding-bottom: 0;
}

@media (min-width: 48rem) {
	.about p ~ h2 {
    margin: 1rem 0 -4px 0;
  }

  .about h2:first-of-type {
    margin-top: 4px;
  }
}

@media (min-width: 50rem) {
  .about p ~ h2 {
    margin: 3rem 0 -4px 0;
  }
}