/*contact*/

.contact h2:first-of-type {
  margin-top: 0;
}

.contact h2 {
  margin: 24px 0 -2px 0;
}

.contact .wrapper {
  padding-bottom: 0;
}

/*form style*/
form, form input, textarea {
  font-family: var(--sans);
}

.form-field:first-child > .form-label {
  padding-top: 0;
  padding-bottom: 4px;
}

.form-field > .form-label {
  padding-top: 10px;
  padding-bottom: 4px;
}

form input {
  border: 1px solid #000 !important;
}

input:focus, select:focus, textarea:focus,
.checkboxes label:before {
  background-color: #fff;
  border: 1px solid #000 !important;
}

.checkboxes label:before {
  border-radius: 0 !important;
}

.checkboxes label {
  line-height: 1.15;
  padding: 0 0 0 26px !important;
  margin-right: 16px !important;
}

.checkboxes {
  display: block !important;
}

textarea.large,
.form-input-wrapper input {
  width: 100%;
}

textarea.large {
  min-height: 48px;
}

/*submit/reset buttons*/
.buttons {
  padding: 16px 0 24px 0;
}

.buttons button {
  background-color: #fff;
  -webkit-filter: brightness(61%);
          filter: brightness(61%);
  border: 1px solid #fff;
  padding: 6px 8px 2px 8px;
}

/*thankyou style*/
body.email.sent h2 {
  font-size: 48px;
  line-height: 1;
}

@media (min-width: 48rem) {
  .contact h2:first-of-type {
    margin-top: 0;
  }

  .contact h2:nth-of-type(3) {
    border-top: 1px solid;
    padding-top: 1rem;
  }

  form {
    border-bottom: 1px solid;
  }

  form, form input, textarea {
    font-size: 20px;
  }

  textarea.large,
  .form-input-wrapper input {
    width: 50%;
  }

  textarea.large {
    min-height: 64px;
  }

  .contact button:hover {
    cursor: pointer;
  }

}

@media (min-width: 50rem) {
  form, form input, textarea {
    font-size: 24px;
  }

  .contact .wrapper a:after {
    content: '';
    display: inline-block;
    width: 32px !important;
    height: 32px !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 8px;
    margin-bottom: -8px;
  }

  .sample-branche::after{
    background-image: url(../../images/jerome/plantes+archi/sample/sample-branche.svg);
  }

  .sample-fleur-blanche::after{
    background-image: url(../../images/jerome/plantes+archi/sample/sample-fleur-blanche.svg);
  }

  .sample-fleur-jaune::after{
    background-image: url(../../images/jerome/plantes+archi/sample/sample-fleur-jaune.svg);
  }

  .sample-fleur-rouge::after{
    background-image: url(../../images/jerome/plantes+archi/sample/sample-fleur-rouge.svg);
  }

  .sample-fleur-violettes::after{
    background-image: url(../../images/jerome/plantes+archi/sample/sample-fleur-violettes.svg);
  }

  .sample-fougere::after{
    background-image: url(../../images/jerome/plantes+archi/sample/sample-fougere.svg);
  }

  .sample-pousse1::after{
    background-image: url(../../images/jerome/plantes+archi/sample/sample-pousse1.svg);
  }

  .sample-pousse2::after{
    background-image: url(../../images/jerome/plantes+archi/sample/sample-pousse2.svg);
  }

  .sample-pousse3::after{
    background-image: url(../../images/jerome/plantes+archi/sample/sample-pousse3.svg);
  }
 
}