/*documents*/

.tools .wrapper > h1 {
  display: none;
}

.filter_container {
  margin-bottom: 2rem;
}

.btn {
  border: none;
  outline: none;
  padding: .5rem;
  padding-bottom: .3rem;
  margin-bottom: 0.35rem;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.document {
  display: none;
  position: relative;
  margin: 1rem 0 0 1rem;
}

.visible {
  display: block;
}

/*manual block style*/
div[class^="manual"] {
  background-color: var(--jaune);
}

div[class^="manual"]:before {
  border-bottom: 1rem solid var(--jaune);
  border-right: 1rem solid transparent;
}

div[class^="manual"]:after {
  border-right: 1rem solid var(--jaune);
}

/*documentation block style*/
div[class^="documentation"] {
  background-color: var(--orange);
}

div[class^="documentation"]:before {
  border-bottom: 1rem solid var(--orange);
  border-right: 1rem solid transparent;
}

div[class^="documentation"]:after {
  border-right: 1rem solid var(--orange);
}

/*report block style*/
div[class^="report"] {
  background-color: var(--gris);
}

div[class^="report"]:before {
  border-bottom: 1rem solid var(--gris);
  border-right: 1rem solid transparent;
}

div[class^="report"]:after {
  border-right: 1rem solid var(--gris);
}

.document__inner-wrapper {
  padding: 1rem;
}

.document__type {
  padding: 0;
}

span.document__filter {
  display: inline-block;
  padding: 8px;
  padding-bottom: 6px;
  background-color: rgba(0,0,0,0.2);
  border: 0;
  color: #000;
  margin: 0;
}

.document__title {
  padding: 1.5rem 0 1rem 0;
}

.document__content p {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.document__content a {
  padding-right: 4px;
}

.document__content a:hover {
  color: #666;
} 

.document__content a:before {
  content: '↙';
  display: inline-block;
  font-family: var(--picto);
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

@media (min-width: 48rem) {
  .documents {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
  }

  .documents a,
  .documents p,
  .documents span {
    font-size: 18px;
  }

  .filter_container {
    margin-bottom: 1rem;
  }

  .document__title {
    font-size: 48px;
  }

  .document__content a {
    padding-left: 8px;
    padding-right: 0;
  }
}

@media (min-width: 50rem) {
  .documents a,
  .documents p,
  .documents span {
    font-size: 20px;
  }
}