/*home*/

.home #body .wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}

.home .special_announcement {
	position: relative;
}

.home .inner_wrapper {
	background-color: var(--orange);
	padding: 1rem;
	padding-bottom: 0;
}

.home h1 {
	margin: 2rem 0 -4px 0;
}

.sidebar {
	width: 100%;
}

.sidebar h2 {
	font-family: var(--serif);
}

.sidebar .event {
	float: none;
}

@media (min-width: 48rem) {
  .home #body .wrapper {
  	display: block;
	}

	.home .special_announcement {
		padding-right: 1rem;
		padding-bottom: 1rem;
	}
	
	.main_content p,
	.main_content a {
		font-size: 28px;
	}	

	.sidebar {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 50% 50%;
		grid-template-columns: 50% 50%;
	}

	.home h1:not(.event_title) {
		display: block;
		padding-bottom: 8px;
		margin-top: 1rem;
	}

	.sidebar a,
	.sidebar span {
		font-size: 20px;
	}

	.sidebar h2 {
		font-family: var(--serif);
	}
}

@media (min-width: 50rem) {
	.main_content p,
	.main_content a {
		font-size: 32px;
	}	

	.home h1:not(.event_title) {
		margin-top: 3rem;
	}

}

@media (min-width: 78rem) {
	.home .special_announcement p {
		font-size: 20px;
	}

	.main_content p,
	.main_content a {
		font-size: 38px;
	}	
}