/*variables*/

:root {
  /*color*/
  --jaune: #FFD700;
  --orange: #f18520;
  --vert: #32d587;
  --gris: #b3c4db;
  --rose: #ffd9c2;
  --gris-clair: #DCDCDC;
  /*type*/
  --serif: 'wremena_light', serif;
  --sans: 'authenticsans_regular', sans-serif;
  --picto: 'credible', sans-serif;
  --shadow: 1px 0px 0 #000;
  /*animation*/
  --anim: 0.6s ease;
}

/* Core Stuff */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0 !important;
  padding: 0;
  margin: 0;
}

*:focus {
  background: transparent;
  outline: 0;
  border: 0;
}

html {
  font-size: 16px;
  font-family: var(--sans);
  color: #000;
}

body {
  font-size: 1rem;
  line-height: 1.3em;
  background-color: var(--gris-clair);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding-bottom: 0.4rem;
}

h1, h2 {
  font-family: var(--serif);
  text-transform: uppercase;
  font-size: 38px;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

p, li, span, a {
  font-size: 18px;
  line-height: 1.25;
}

p {
  word-spacing: -0.3vw;
  letter-spacing: -0.05vw;
  padding-bottom: 1rem;
}

p + p {
  margin: 0;
}

/* Utility Classes */
#body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; 
  margin-top: 14%;
}

.wrapper {
  padding: 1rem;
}

.no-overflow {
  overflow-y: hidden; 
}

.left {
  float: left;
}

.right {
  float: right
}

.block:before,
.block:after {
  content: '';
  display: block;
  position: absolute;
  width: calc(100% + 1rem);
  height: 0;
  margin: -1rem 0 0 -1rem;
  -webkit-filter: brightness(61%);
          filter: brightness(61%);
}

.block:after {
  width: 1rem;
  height: 100%;
  /*position: absolute;*/
  -webkit-transform: skewY(32deg);
      -ms-transform: skewY(32deg);
          transform: skewY(32deg);
  -webkit-filter: brightness(61%);
          filter: brightness(61%);
  top: 2%;
}


@media (min-width: 48rem) {
  body {
    overflow-x: hidden; 
  } 
  
  #body {
    width: 75%;
    min-height: 100vh;
    margin: auto;
  }

  .wrapper a:hover {
    color: grey;
  }

  h1, h2 {
    font-size: 38px;
  }

  p {
    word-spacing: unset;
    letter-spacing: unset;
  }
}

@media (min-width: 50rem) {
  #body {
    width: 70%;
  }

  h1, h2 {
    font-size: 64px;
  }

  p, li, span, a {
    font-size: 24px;
    line-height: 1.25;
  }
}