/*fonts */

@font-face {
    font-family: 'wremena_light';
    src: url('../../fonts/wremena/wremena_light-webfont.eot');
    src: url('../../fonts/wremena/wremena_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/wremena/wremena_light-webfont.woff2') format('woff2'),
         url('../../fonts/wremena/wremena_light-webfont.woff') format('woff'),
         url('../../fonts/wremena/wremena_light-webfont.ttf') format('truetype'),
         url('../../fonts/wremena/wremena_light-webfont.svg#wremenalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wremena_regular';
    src: url('../../fonts/wremena/wremena_regular-webfont.eot');
    src: url('../../fonts/wremena/wremena_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/wremena/wremena_regular-webfont.woff2') format('woff2'),
         url('../../fonts/wremena/wremena_regular-webfont.woff') format('woff'),
         url('../../fonts/wremena/wremena_regular-webfont.ttf') format('truetype'),
         url('../../fonts/wremena/wremena_regular-webfont.svg#wremenaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileron_regular';
    src: url('../../fonts/aileron/aileron-regular-webfont.eot');
    src: url('../../fonts/aileron/aileron-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/aileron/aileron-regular-webfont.woff2') format('woff2'),
         url('../../fonts/aileron/aileron-regular-webfont.woff') format('woff'),
         url('../../fonts/aileron/aileron-regular-webfont.ttf') format('truetype'),
         url('../../fonts/aileron/aileron-regular-webfont.svg#aileronregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'authenticsans_regular';
    src: url('../../fonts/Authenticsans/AUTHENTICSans-90.woff') format('woff'),
         url('../../fonts/Authenticsans/AUTHENTICSans-90.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'authenticsans_bold';
    src: url('../../fonts/Authenticsans/AUTHENTICSans-150.woff') format('woff'),
         url('../../fonts/Authenticsans/AUTHENTICSans-150.woff2') format('woff2'); 
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'credible';
    src: url('../../fonts/credible/credible-regular.woff') format('woff'),
         url('../../fonts/credible/credible-regular.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tir';
    src: url('../../fonts/tir-notmono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}