/*header*/

.header {
  width: 100vw;
  height: 100vh;
  position: fixed;
  font-family: var(--serif);
  text-transform: uppercase;
  background-color: var(--jaune);
  background-repeat: no-repeat;
  background-position: 510% 93%;
  background-size: 95%;
  -webkit-transition: var(--anim);
  -o-transition: var(--anim);
  transition: var(--anim);
  z-index: 999;
  padding: 8px;
  top: 0;
  left: 0;
}

.header.open {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.header.close {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header__btn {
  height: 2rem;
  position: absolute;
  background-color: inherit;
  font-family: var(--serif);
  -webkit-transition: var(--anim);
  -o-transition: var(--anim);
  transition: var(--anim);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 8px 50%;
  left: 50%;
  bottom: -48px;
}

.header__btn.active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  padding: 8px 50% 8px 0;
  left: 8px;
  bottom: 0;
}

.header button {
  font-size: 2rem;
}

.header a {
  font-size: 3rem;
  line-height: 1;
}

.header li:before {
  display: none;
}

.header__ctn__nav ul li:first-child {
  display: none;
}

.header__ctn__lang {
  margin: .4rem 0;
}

.header__ctn__lang li,
.header__ctn__social li {
  display: inline-block;
}

.header__ctn__lang a {
  line-height: 1.1;
  background-color: var(--jaune);
  text-transform: capitalize;
  border-radius: 24px;
  padding: 12px 0 0 0;
  color: #000;
}

.header__ctn__lang a:after {
  content:',';
  display: inline-block;
}

.header__ctn__lang li:last-child a:after {
  content:'';
  display: none;
}

.header__ctn__social li {
  background-color: var(--jaune);
  border: 1px solid black;
  padding: 6px 4px 0 4px;
  margin-bottom: .4rem;
}

.header__ctn__social a {
  font-size: 32px;
}

@media (min-width: 22rem) {
  .header a {
    font-size: 3.5rem;
  }
}

@media (min-width: 48rem) {
  .header {
    width: 100vw;
    height: 100vh;
    background-position: 55% 87%;
    background-size: 38%;
    padding: 16px;
  }

  .header.open {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .header.close {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  .header button {
    font-size: 1.25rem;
  }

  .header__btn {
    position: absolute;
    padding: 4px 11px;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    cursor: pointer;
    top: 0;
    left: unset;
    right: -70px;
    bottom: 0;
  }

  .header__btn:after {
    content: '';
    display: block;
    position: absolute;
    background-color: inherit; 
    width: 100%;
    height: 100vh;
    left: 0;
  }

  .header__btn.active {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    padding: 8px;
    top: 0;
    left: unset;
    right: 0;
  }

  .header a {
    font-size: 7rem;
  }

  .header a:after {
    content: '';
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    background-position: center;
    background-position-y: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: var(--anim);
    -o-transition: var(--anim);
    transition: var(--anim);
    margin-top: 8px;
    margin-left: -24px;
  }

  .header a:hover:after {
    background-position-y: center;
  }

  .header .header__ctn__lang a:after {
    content: ',';
    width: auto;
    height: auto;
    background-size: 0%;
    margin: 0;
  }

}

@media (min-width: 50rem) {
  .header {
    width: 70vw;
  }
}