<!DOCTYPE html>
<html lang="{% block lang %}{{ DEFAULT_LANG }}{% endblock lang %}">
<head>
	    <link rel="stylesheet" href="home.css">
</head>
	<body>
		<main>
			<section id="navigation">
				<nav>
					<h3>menu</h3>
	<!-- 				<ul>
						<li>About</li>
						<li>Agenda</li>
						<li>Documentation</li>
						<li>Contact</li>
					</ul> -->

				</nav>
				<img src="images/permanent.png" class="image-permanent image-lettrine"/>

			</section>
			<section id="main">
<!-- 			<h1>Permanent</h1>
 -->				<img src="images/timeforpermanent.png" class="image-lettrine"/>
				<p class="intro">Permanent is a practice-based research with the aim to develop an infrastructure for permanently affordable workspaces for artists and artworkers in Brussels. By investigating alternative understandings of ownership and by looking into new legal and financial models proposed by cooperatives and other “commoning” initiatives, Permanent wants to develop this much-needed infrastructure for artistic creation in Brussels without contributing to a process of gentrification and profit-driven urban development. The research puts forward the Community Land Trust-model: a social real estate development model in which the land remains collective property of the community and only the actual buildings can be acquired, at a lower price. These buildings can only be resold with limited profit which keeps them affordable in the long run and effectively cancels out financial speculation. The model has already demonstrated its capacity in many different places to include a larger and more diverse group of people in the development of an urban living environment beneficial for all. Permanent therefore also strives for radical solidarity with other groups excluded by speculative urban development </p>
			</section>
			<section id="agenda-news">
				<h3>Last events</h3>
				<div class="events"> 
					<h2>Hausederstatistiek</h2>
					<p class="event-details">10.03.20 </p>
					<p class="event-details">19:00—21:00 </p>
					<p class="event-details">Rue Paul devauxstraat 3, 1000 Brussels</p>
					<p class="event-intro">Who owns the city? How can we reclaim it? Following an introduction of Permanent, this session launches a collective exploration of anti-speculative urban developments for Brussels Departing from for.</p>
				</div>
				<div class="events">
					<h2>Workshop @argos</h2>
					<p class="event-details">10.03.20 </p>
					<p class="event-details">19:00—21:00 </p>
					<p class="event-details">Rue Paul devauxstraat 3, 1000 Brussels</p>
					<p class="event-intro">Who owns the city? How can we reclaim it? Following an introduction of Permanent, this session launches a collective exploration of anti-speculative urban developments for Brussels Departing from for.</p>
				</div>
			</section>
		</main>


	</body>
</html>
