body {/*
	font-family: "krona one";*/
	font-family: "manrope";
	line-height: 1.1em;
}
main {
	display: flex; 
	flex-direction: row;
	position: relative;
}
section{
	padding: 20px;
	height: 100vh;
}
#navigation {
	background-color: #799eb2ff;
	position: fixed;
	/*width: calc(60vw + 80px);*/
	height: 100vh;
/*	transform: translateX(-60vw);*/
left: 0px;

}
#main {
	background-color: #f7941eff;
	flex: 1 1 auto;
	padding-left: 22vh;
}
#agenda-news {
	background-color: #ffe601ff;
	flex: 1 1 auto;
	min-width: 375px;
}


.image-lettrine {
	max-width: 150px;
	float: left;
	margin-right: 23px;
	margin-bottom: 12px;
	margin-top: 14px;
}
.image-permanent{
	max-width: 78px;
	margin: 0;
	margin-top: 27px;
	margin-right: 6px;
}
ul, li, p {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
h1, h2, h2, h3 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}
h1 {
	text-transform: uppercase;
	font-size: 2em;
	margin-bottom: 25px;
}
h2 {
	font-size: 1.7em;
	font-family: crickx;
	text-transform: uppercase;
	margin-bottom: 8px;
}
h3 {
	text-transform: uppercase;
/*	font-size: 1.1em;
	font-weight: 900;*/
	font-size: 1.9em;
	font-weight: 900;
	font-family: crickx;
	text-shadow: 1px red;
	-webkit-text-stroke-width: 0.7px;
	-webkit-text-stroke-color: black;
	color: #ffe601ff;
	margin-top: 20px;
}
.intro {
	font-family: "manrope";
	line-height: 1.2em;
	font-weight: bold;
	font-size: 1.65em;
	margin-top: 10px;

}
.events {
	padding: 20px;
	background-color: #f7941eff;
	margin: 23px 26px 23px 0;
	-webkit-box-shadow: 8px 8px 0px 8px rgba(241,91,41,1);
	-moz-box-shadow: 8px 8px 0px 8px rgba(241,91,41,1);
	box-shadow: 8px 8px 0px 8px rgba(241,91,41,1);
}
h3 + div.events {
	margin-top: 10px;
} 
.event-details {
	font-size: 1.2em;
	font-family: crickx;
	line-height: 1.2em;
}
.event-intro {
	font-family: "manrope";
	font-size: 0.9em;
	line-height: 1.3;
	margin-top: 3px;
	font-weight: bold;
}