{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{{ site.title|e('html') }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}
    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/style.css', 98) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
    {% do assets.addJs('theme://js/script.js', {group : 'bottom'}) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.title|lower }}">

{% block header %}
    <div class="header close">
        <button class="header__btn">menu</button>
        <div class="header__ctn">
            <a class="header__ctn__logo" href="{{ home_url }}">
                {{ config.site.title }}
            </a>
            {% block header_navigation %}
                <nav class="header__ctn__nav">
                    {% include 'partials/navigation.html.twig' %}
                </nav>
            {% endblock %}
            {% block langswitcher %}
                <ul class="header__ctn__lang">
                    {% include 'partials/langswitcher.html.twig' %}
                </ul>
            {% endblock %}
        </div>    
    </div>
{% endblock %}

{% block body %}
    <section id="body">
        <div class="wrapper clearfix">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
